@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap);

body{
  font-family: 'Nunito', sans-serif !important;
  display:block;
  font-size: 15px !important;
  cursor: url('plane_cursor_2-01.png'), default;
}
a:hover {
 cursor:url('plane_cursor_3-01.png'), default;
}
img {
  display: block;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}
  .row{
    display: block;
}

#introduzione{
  margin-top:100px;
  }

#title{
    font-weight: 700;
}

#links{
  margin-top:50px;
}
#index{
  margin-top:30px;
  margin-bottom:30px;
}
hr.divisore{
  margin-top: 60px;
  color:black;
}

div.col-lg-4.col-md-1{
  padding:0px 0px;
}

@media (min-width: 576px){
  div.h3{
    font-size:15px;
  }
  div.h1{
    font-size:20px;
  }
}

@media (min-width: 768px) {
  div.h3{
    font-size:20px;
  }
  div.h1{
    font-size:23px;
  }
}

@media (min-width: 992px) {
  div.h3{
    font-size:25px;
  }
  div.h1{
    font-size:28px;
  }
}
