img {
  display: block;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}
h1,h3 {
  font-family: 'Nunito', sans-serif;
  display:block;
}
#introduzione{
  margin-top:100px;
  }

#introduzione h1{
    font-weight: 700;
}

#links{
  margin-top:100px;
}

#links h1{
    font-weight: 700;
}

#introduzione hr{
  margin-top: 60px;
}

@media (min-width: 576px) {
  div h3{
    font-size:15px;
  }
  div h1{
    font-size:20px;
  }
}

@media (min-width: 768px) {
  div h3{
    font-size:20px;
  }
  div h1{
    font-size:23px;
  }
}

@media (min-width: 992px) {
  div h3{
    font-size:25px;
  }
  div h1{
    font-size:28px;
  }
}
